@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";
.iron {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  .container {
    position: relative;
    .backgrounds {
      .bgImg {
        max-width: 350px;
        width: 100%;
        height: auto;
      }
      .light {
        position: absolute;
        top: -100px;
        left: -20%;
        max-width: 150%;
        height: auto;
      }
    }

    .backgroundsAcc {
      .bgImg {
        max-width: 750px;
        width: 100%;
        height: auto;
      }
      .light {
        position: absolute;
        top: -150px;
        left: 20%;
        max-width: 100%;
        height: auto;
      }
    }
    .jackpot {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%);
      &Name {
        max-width: 300px;
        height: auto;
        &Acc {
          width: 700px;
        }
      }

      &Score {
        margin-top: -18px;
        position: relative;
        z-index: -30;
        &Img {
        }

        &ImgAcc {
          width: 1000px;
        }

        &Num {
          position: absolute;
          top: 13px;
          left: -30px;
          background: rgb(47, 49, 50);
          background: radial-gradient(
            circle,
            rgba(47, 49, 50, 1) 0%,
            rgba(88, 88, 77, 1) 50%,
            rgba(49, 64, 93, 1) 100%
          );
          animation: gradient 8s ease infinite;
          background-size: 400% 400%;
          -webkit-box-shadow: inset 0px 0px 4px 3px rgb(33, 44, 47);
          box-shadow: inset 0px 0px 4px 3px rgb(33, 44, 47);
          border-radius: 40px;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 10px;
          white-space: nowrap;

          font-size: 78px;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 0.854;
          // text-align: center;
          text-shadow: 0px 0px 7.74px rgba(255, 228, 0, 0.47);
          -moz-transform: matrix(0.79143640198586, 0, 0, 0.7914363959956, 0, 0);
          -webkit-transform: matrix(
            0.79143640198586,
            0,
            0,
            0.7914363959956,
            0,
            0
          );
          -ms-transform: matrix(0.79143640198586, 0, 0, 0.7914363959956, 0, 0);
        }
        &NumAcc {
          position: absolute;
          top: 25px;
          left: -80px;
          right: -80px;
          padding-top: 30px;
          padding-right: 50px;
          padding-left: 50px;
          padding-bottom: 30px;
          border-radius: 80px;
          background: rgb(47, 49, 50);
          background: radial-gradient(
            circle,
            rgba(47, 49, 50, 1) 0%,
            rgba(88, 88, 77, 1) 50%,
            rgba(49, 64, 93, 1) 100%
          );
          animation: gradient 8s ease infinite;
          background-size: 400% 400%;
          -webkit-box-shadow: inset 0px 0px 4px 3px rgb(33, 44, 47);
          box-shadow: inset 0px 0px 4px 3px rgb(33, 44, 47);
          white-space: nowrap;

          font-size: 78px;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 0.854;
          // text-align: center;
          text-shadow: 0px 0px 7.74px rgba(255, 228, 0, 0.47);
          -moz-transform: matrix(0.79143640198586, 0, 0, 0.7914363959956, 0, 0);
          -webkit-transform: matrix(
            0.79143640198586,
            0,
            0,
            0.7914363959956,
            0,
            0
          );
          -ms-transform: matrix(0.79143640198586, 0, 0, 0.7914363959956, 0, 0);
        }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
