.container {
  //   display: flex;
  //   flex-direction: column;
  //   background-color: aqua;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &Animation {
    background-color: aqua;
    // margin-top: -20px;

    position: absolute;
    // top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
