@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.platinum {
  text-align: center;
  @media screen and (max-width: $medium) {
  }
  .container {
    position: relative;
    .backgrounds {
      .bgImg {
        max-width: 350px;
        width: 100%;
        height: auto;
      }
      .light {
        position: absolute;
        top: -60px;
        left: -30%;
        max-width: 150%;
        height: auto;
      }
    }

    .backgroundsAcc {
      .bgImg {
        max-width: 750px;
        width: 100%;
        height: auto;
      }
      .light {
        position: absolute;

        top: -100px;
        left: 20%;
        max-width: 150%;
        height: auto;
      }
    }
    .jackpot {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%);
      &Name {
        max-width: 700px;
        height: auto;
      }
      &NameAcc {
        width: 1100px;
      }
      &Score {
        margin-top: -18px;
        position: relative;
        z-index: -30;
        @media screen and (max-width: $miniLarge) {
          margin-top: -10px;
        }
        &Img {
        }
        &ImgAcc {
          width: 1000px;
        }
        &Num {
          background: rgb(110, 3, 39);
          background: linear-gradient(
            90deg,
            rgba(110, 3, 39, 1) 0%,
            rgba(220, 0, 67, 1) 50%,
            rgba(112, 16, 76, 1) 100%
          );
          border-radius: 50px;
          padding-left: 35px;
          padding-top: 10px;
          padding-right: 35px;
          border-bottom: 2px solid #eb0895;
          position: absolute;
          top: 10px;
          left: 8px;

          -webkit-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.84);
          box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.84);
          white-space: nowrap;
          background-size: 400% 400%;
          animation: gradient 8s ease infinite;
          font-size: 78px;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          //   line-height: 1.424;
          line-height: 0.854;
          text-align: center;
          text-shadow: 0px 0px 10.53px rgba(255, 228, 0, 0.47);
          -moz-transform: matrix(0.79143640198586, 0, 0, 0.7914363959956, 0, 0);
          -webkit-transform: matrix(
            0.79143640198586,
            0,
            0,
            0.7914363959956,
            0,
            0
          );
          -ms-transform: matrix(0.79143640198586, 0, 0, 0.7914363959956, 0, 0);
        }

        &NumAcc {
          position: absolute;

          top: 20px;
          left: -15px;
          right: -15px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 15px;
          padding-left: 15px;
          border-radius: 80px;
          background: rgb(110, 3, 39);
          background: linear-gradient(
            90deg,
            rgba(110, 3, 39, 1) 0%,
            rgba(220, 0, 67, 1) 50%,
            rgba(112, 16, 76, 1) 100%
          );

          border-bottom: 2px solid #eb0895;

          -webkit-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.84);
          box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.84);
          white-space: nowrap;
          background-size: 400% 400%;
          animation: gradient 8s ease infinite;
          font-size: 78px;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 0.854;
          text-align: center;
          text-shadow: 0px 0px 10.53px rgba(255, 228, 0, 0.47);
          -moz-transform: matrix(0.79143640198586, 0, 0, 0.7914363959956, 0, 0);
          -webkit-transform: matrix(
            0.79143640198586,
            0,
            0,
            0.7914363959956,
            0,
            0
          );
          -ms-transform: matrix(0.79143640198586, 0, 0, 0.7914363959956, 0, 0);
        }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
