.container {
  background-color: rgb(24, 26, 26);
  // position: fixed;
  // top: 0px;
  // left: 0px;
  // z-index: 9999999;
  // position: relative;
  // display: flex;
  // width: 50%;

  &Coins {
    position: absolute;
    top: -50px;
  }
}
