.timer {
  font-size: 550px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &Counter {
    -webkit-text-stroke: 6px rgb(6, 77, 16);

    color: rgb(234, 109, 109);
  }
}
