@import "../sassStyles/variables";
@import "../sassStyles/mixins";

.panel {
  height: 100vh;
  width: 100%;

  position: relative;
  overflow: hidden;
  @include background($bgPath);
  &Cherry {
    position: absolute;
    left: 35%;
    top: 5px;
  }

  &Cup {
    position: absolute;
    left: 43%;
    top: 30px;
  }
  &Di {
    position: absolute;
    left: 20px;
    top: 55px;
  }

  &BulChoco {
    position: absolute;
    top: 220px;
    left: -10px;
    img {
      width: 100px;
    }
  }

  &Bul {
    position: absolute;
    top: 300px;
    right: 0px;
    img {
      width: 100px;
    }
  }
  &Cup2 {
    position: absolute;
    top: 280px;
    left: 70px;
  }
  &DiamondPart {
    position: absolute;
    top: 360px;
    left: 200px;
    z-index: 20;
  }
  &Di2 {
    position: absolute;
    top: 430px;
    left: 50px;
  }
  &Bel {
    position: absolute;
    top: 550px;
    left: -40px;
  }
  &Rond1 {
    position: absolute;
    top: 260px;
    right: 130px;
    // bottom: 0;
  }
  &Rond11 {
    position: absolute;
    top: 280px;
    right: 300px;
    // bottom: 0;
  }
  &Rond4 {
    position: absolute;
    bottom: 20px;
    left: 10px;
  }

  &Rond5 {
    position: absolute;
    bottom: 20px;
    left: 350px;
  }

  &Rond3 {
    position: absolute;
    bottom: 20px;
    right: 50px;
  }
  &Triangle {
    position: absolute;
    top: 450px;
    left: 230px;
    z-index: 99999999;
  }
  &Triangle2 {
    position: absolute;
    top: 320px;
    left: 290px;
    transform: rotate(90deg);
    z-index: 99999999;
  }
  &Flower {
    position: absolute;
    right: 200px;
    top: 40%;
  }

  &Top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;

    &Gold {
      margin-left: -70px;
    }
    &Platinum {
    }
  }
  &Middle {
    margin-top: -140px;
  }
  &Bottom {
    margin-top: -70px;
    display: flex;
    justify-content: space-around;

    &Silver {
      margin-left: 50px;
    }
    &Iron {
      margin-top: 100px;
      padding-bottom: 0px;
      align-self: flex-end;
    }
    &Bronze {
      margin-right: 50px;
    }
  }
}
