.panelCherry {
  position: absolute;
  left: 35%;
  top: 5px;
}

.panelCherryAcc {
  position: absolute;
  left: 15%;
  top: 5px;
}

.panelCup {
  position: absolute;
  left: 43%;
  top: 30px;
}

.panelCupAcc {
  position: absolute;
  left: 83%;
  top: 70px;
}
.panelDi {
  position: absolute;
  left: 20px;
  top: 55px;
}

.panelDiAcc {
  position: absolute;
  left: 120px;
  top: 155px;
}

.panelBulChoco {
  position: absolute;
  top: 220px;
  left: -10px;
  img {
    width: 100px;
  }
}

.panelBul {
  position: absolute;
  top: 300px;
  right: 0px;
  img {
    width: 100px;
  }
}
.panelCup2 {
  position: absolute;
  top: 280px;
  left: 70px;
}

.panelCup2Acc {
  position: absolute;
  bottom: 150px;
  left: 100px;
}
.panelDiamondPart {
  position: absolute;
  top: 360px;
  left: 200px;
  z-index: 20;
}

.panelDiamondPartAcc {
  position: absolute;
  bottom: 360px;
  left: 80px;
  z-index: 20;
}
.panelDi2 {
  position: absolute;
  top: 430px;
  left: 50px;
}

.panelDi2Acc {
  position: absolute;
  bottom: 230px;
  right: 50px;
}
.panelBel {
  position: absolute;
  top: 550px;
  left: -40px;
}
.panelRond1 {
  position: absolute;
  top: 260px;
  right: 130px;
}
.panelRond11 {
  position: absolute;
  top: 280px;
  right: 300px;
}
.panelRond4 {
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.panelRond4Acc {
  position: absolute;
  bottom: 60px;
  left: 150px;
}
.panelRond5 {
  position: absolute;
  bottom: 20px;
  left: 350px;
}
.panelRond5Acc {
  position: absolute;
  bottom: 50px;
  left: 350px;
}

.panelRond3 {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.panelRond3Acc {
  position: absolute;
  bottom: 60px;
  right: 150px;
}
.panelTriangle {
  position: absolute;
  top: 450px;
  left: 230px;
  z-index: 99999999;
}

.panelTriangleAcc {
  position: absolute;
  bottom: 280px;
  left: 230px;
  transform: rotate(40deg);
  z-index: 99999999;
}
.panelTriangle2 {
  position: absolute;
  top: 320px;
  left: 290px;
  transform: rotate(90deg);
  z-index: 99999999;
}

.panelTriangle2Acc {
  position: absolute;
  bottom: 250px;
  left: 350px;
  transform: rotate(90deg);
  z-index: 99999999;
}
.panelFlower {
  position: absolute;
  right: 200px;
  top: 40%;
}

.panelFlowerAcc {
  position: absolute;
  right: 130px;
  top: 50%;
}
