@mixin background(
  $imgPath,
  $position: center center,
  $repeat: no-repeat,
  $size: cover
) {
  background: {
    image: url($imgPath);
    position: $position;
    repeat: $repeat;
    size: $size;
  }
}

@mixin text() {
}
