@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

$FiraSansCondensed: "Fira Sans Condensed", sans-serif;

$bgPath: "../assets/images/bg-panel.png";

$margin-20: 20px;

$smaller: 420px;
$small: 768px;
$medium: 1000px;
$miniLarge: 1200px;
$large: 1400px;
